[submodule "libretro-core-info"]
	path = RetroVR/libretro-core-info
	url = https://github.com/libretro/libretro-core-info
[submodule "SKLibretro"]
	path = SKLibretro
	url = https://github.com/XenuIsWatching/libretro-godot.git
