[submodule "godot-cpp"]
	path = godot-cpp
	url = https://github.com/godotengine/godot-cpp
	branch = 4.5
[submodule "libretro-core-info"]
	path = libretro-core-info
	url = https://github.com/libretro/libretro-core-info
